/*
    Theme Name: Highseason WP
    Theme URI: https://github.com/AlexeyShulga/highseason.pro.git
    Description: Highseason WordPress theme.
    Version: 0.0.1
    Author: the Automatic Solutions team
    Author URI: https://automaticsolutions.ru/
    Text Domain: chart
*/

:root {
    --primary-color: rgb(22, 151, 77);
    --secondary-color: rgb(28, 28, 28);
	--header-height: 64px;
    --container-width: 100%;
    --container-max-width: 1024px;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
	box-sizing: border-box
}

.container {
    width: var(--container-width);
    max-width: var(--container-max-width);
}

.center {
	margin: 0 auto;
}

html, body {
	height: 100vh;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    font-size: 16px;
}

html, body, .menu {
	margin: 0;
	padding: 0;
}

h1, h2, h3, h4, h5, h6 {
	padding: 0 20px;
}

a {
	text-decoration: none;
	display: block;
	color: inherit;
}

.header {
	display: grid;
	grid-template-columns: auto 1fr;
	align-items: center;
	padding: 0 20px;
}

.header-nav {
	justify-self: end;
}

.logo-img {
	height: var(--header-height);
}

.menu {
	list-style: none;
	display: flex;
}

.menu-item {
	padding: 6px 8px;
	color: var(--secondary-color);
}

.menu-item:hover, .menu-item__active {
	color: var(--primary-color);
}

.menu .menu-item:first-child {
	padding-left: 0;
}

.menu .menu-item:last-child {
	padding-right: 0
}

@media screen and (max-width: 768px) {
	.header {
		grid-template-columns: 1fr;
	}

	.header-nav {
		justify-self: start;
	}
}

.main {
	margin-bottom: 30px;
}

.main p {	
	padding: 0 20px;
}

img {
	max-width: var(--container-width);
	height: auto;
}

.button {
	border: 0;
	color: #fff;
	background-color: var(--primary-color);
	border-color: var(--primary-color);
	padding: 10px 12px;
	border-radius: 4px;
	display: inline-block;
}

.button:hover {
	background: rgba(22, 151, 77, .9);
}

.input {
  outline: 0;
  border: 0;
	border-radius: 4px;
  background: #f2f2f2;
  width: 100%;
  margin-bottom: 15px;
  padding: 10px;
}

.input:active, .input:focus {
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
}

.request-form {
  max-width: 360px;
  padding: 35px;
  margin: 0 auto;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 768px) {
	.request-form {
		margin-left: 20px;
		margin-right: 20px;
	}	
}

.request-form__button {
  outline: 0; 
  border: 0;
  width: 100%;
  margin-top: 25px;
  cursor: pointer;
}

.request-form__info{
  margin-bottom: 15px;
}

.request-form_radio-group input {
  display: none;
}

.request-form .request-form_radio-group span {
	margin: 0;
}

.request-form_radio-group input + span:before {
	content: "";
	display: inline-block;
	width: 12px;
	height: 12px;
	margin: 0 5px;
	vertical-align: middle;
	cursor: pointer;
	border-radius: 50%;
	border: 1px solid #ccc;
}

.request-form_radio-group input:checked + span:before {
	background-color: var(--primary-color);
	border: 1px solid var(--primary-color);
}
