.announcement {
	display: flex;
	flex-wrap: wrap;
	justify-content: start;
	padding: 0 20px;
}

.announcement__item {
	margin-bottom: 10px;
	padding-right: 30px;
}

.announcement__wrap {
	border:1px solid #ddd;
}

.announcement__caption {
	margin: 9px;
}

.announcement__title {
	font-size: 18px;
	line-height: 1;
	padding-top: 10px;
	margin-bottom: 5px;
	margin-top: 0;
}

.announcement__excerpt {
	font-size: 14px;
}

.announcement__price {
	font-size: 21px;
}

.announcement__order {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}

.announcement__item p {
	 margin: 0 0 11px;
}

.announcement__button {
	font-size: 14px;
    margin-top: 5px;
    margin-left: auto;
}